@model Airlines_Booking.Models.mainmodel;


@{
    Layout = "../shared/adminDashboard_layout.cshtml";
}

<!-- detail pass  -->
<div class="container-fluid">
    <div class="main-content">
        <h1>Passenger Management</h1>
        <div class="card mb-4 cardd">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="https://via.placeholder.com/300" class="card-img" alt="Product Image">
                </div>
                <div class="col-md-8">
                    <div class="card-body cardbody">
                        <h5 class="card-title cardtitle"> Name</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis blanditiis earum ab quas, assumenda laborum consequuntur debitis porro cupiditate maiores ex quo neque harum repudiandae dolorum aperiam iusto laboriosam sunt.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        <button class="btn btn1 btn-block">back</button>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>