
<style>
    .page-title-area {
        background-image: url('/assets/images/userlogin.jpg');
    }

        .page-title-area h1 {
            color: black;
        }

        .page-title-area h6 {
            color: black;
        }
</style>
<!-- Start Page Title Area -->
<div class="page-title-area position-relative z-1">
    <div class="container">
        <div class="page-title-content text-center">
            <h1>About Us</h1>
            <h6 class="mx-auto h6">Welcome to Our World, Where Innovation Meets Purpose, and Possibilities Unfold.</h6>
        </div>
    </div>
</div>
<!-- End Page Title Area -->
<!-- Start About Area -->
<div class="about-area ptb-100 position-relative z-1">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="about-image">
                    <div class="row">
                        <div class="col-lg-6 col-sm-6">
                            <div class="image">
                                <img src="~/assets/images/about/about1.jpg" alt="about-image">
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <div class="image position-relative">
                                <img src="~/assets/images/about/about2.jpg" alt="about-image">
                                <div class="experience">
                                    <img src="~/assets/images/about/ribbons.png" alt="ribbons">
                                    <span class="d-block fw-bold">
                                        25 Years <br>of Experience
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="about-content">
                    <span class="d-block sub-title fw-bold">
                        What will you get
                    </span>
                    <h2>
                        Trusted by thousands of travelers worldwide.
                    </h2>
                    <p>
                        A passionate team dedicated to revolutionizing the way you travel by offering reliable and affordable flight booking solutions.
                        <ul class="features-list ps-0 list-unstyled">
                            <li class="position-relative fw-bold">
                                <i class="ph ph-check"></i>
                                Experienced in delivering seamless booking services.
                            </li>
                            <li class="position-relative fw-bold">
                                <i class="ph ph-check"></i>
                                Focused on customer satisfaction with 24/7 support.






                            </li>
                        </ul>
                        <div class="d-sm-flex align-items-center">
                            <a href="#" class="default-btn">
                                Discover More
                                <i class="ph ph-arrow-right"></i>
                            </a>
                            <div class="call-info d-flex align-items-center">
                                <div class="icon">
                                    <i class="ph-fill ph-phone-call"></i>
                                </div>
                                <div class="info">
                                    <span class="d-block">
                                        CALL ANYTIME
                                    </span>
                                    <a href="tel:+9288006780" class="fw-bold">
                                        +92 ( 8800 ) - 6780
                                    </a>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
    <div class="shape1">
        <img src="~/assets/images/shapes/shape1.png" alt="shape1">
    </div>
</div>
<!-- End About Area -->
<!-- Start Request Quote Area -->
<div class="request-quote-area bg-image ptb-100">
    <div class="container">
        <div class="request-quote-content text-center mx-auto">
            <h2 class="mx-auto">
                We Fly You To Over 20.000 Destinations World Wide
            </h2>
            <p>
                Shopease  Airline proudly raises the bar and exceeds the standard for luxury and corporate private jet charter services. We pride ourselves on offering a professional and personalised service.
            </p>
            <a href="blog-details.html" class="default-btn">
                Request Quote
                <i class="ph ph-arrow-right"></i>
            </a>
        </div>
    </div>
</div>
<!-- End Request Quote Area -->
<!-- Start Feedback Area -->
<div class="feedback-area ptb-100 position-relative z-1">
    <div class="container">
        <div class="feedback-content">
            <span class="d-block sub-title fw-bold">
                What Our Customers Say
            </span>
            <h2>
                Dedicated to providing the best prices and personalized services.
            </h2>
            <div class="number lh-1">
                34353+
            </div>
            <p>
                Over 24,000 Success Stories: Hear From Our Satisfied Clients
            </p>
        </div>
        <div class="feedback-slides owl-carousel owl-theme">
            <div class="single-feedback-box position-relative z-1">
                <div class="image">
                    <img src="~/assets/images/customers/customer1.png" alt="customer-image">
                </div>
                <h3>
                    Randall Schwartz
                </h3>
                <span class="d-block">
                    Sr. Consultant
                </span>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipiscing elit ullam facilisis at turpis eu faucibus. In dignissim enim eu ornare aliqu metus ex tempor neque sit amet efficitur turpis.
                </p>
                <div class="info d-lg-flex align-items-center justify-content-between">
                    <div>
                        <h6>
                            Trustpilot
                        </h6>
                        <div class="ratings">
                            <i class="ph-fill ph-star"></i>
                            <i class="ph-fill ph-star"></i>
                            <i class="ph-fill ph-star"></i>
                            <i class="ph-fill ph-star"></i>
                            <i class="ph-fill ph-star"></i>
                        </div>
                    </div>
                    <span class="d-block">
                        5.0 Trustpilot Rating
                    </span>
                </div>
                <div class="quote">
                    <i class="ph-fill ph-quotes"></i>
                </div>
            </div>
            <div class="single-feedback-box position-relative z-1">
                <div class="image">
                    <img src="~/assets/images/customers/customer2.png" alt="customer-image">
                </div>
                <h3>
                    Andru Smith
                </h3>
                <span class="d-block">
                    Marketing Manager
                </span>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipiscing elit ullam facilisis at turpis eu faucibus. In dignissim enim eu ornare aliqu metus ex tempor neque sit amet efficitur turpis.
                </p>
                <div class="info d-lg-flex align-items-center justify-content-between">
                    <div>
                        <h6>
                            Trustpilot
                        </h6>
                        <div class="ratings">
                            <i class="ph-fill ph-star"></i>
                            <i class="ph-fill ph-star"></i>
                            <i class="ph-fill ph-star"></i>
                            <i class="ph-fill ph-star"></i>
                            <i class="ph-fill ph-star-half"></i>
                        </div>
                    </div>
                    <span class="d-block">
                        4.5 Trustpilot Rating
                    </span>
                </div>
                <div class="quote">
                    <i class="ph-fill ph-quotes"></i>
                </div>
            </div>
            <div class="single-feedback-box position-relative z-1">
                <div class="image">
                    <img src="~/assets/images/customers/customer2.png" alt="customer-image">
                </div>
                <h3>
                    Andru Smith
                </h3>
                <span class="d-block">
                    Marketing Manager
                </span>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipiscing elit ullam facilisis at turpis eu faucibus. In dignissim enim eu ornare aliqu metus ex tempor neque sit amet efficitur turpis.
                </p>
                <div class="info d-lg-flex align-items-center justify-content-between">
                    <div>
                        <h6>
                            Trustpilot
                        </h6>
                        <div class="ratings">
                            <i class="ph-fill ph-star"></i>
                            <i class="ph-fill ph-star"></i>
                            <i class="ph-fill ph-star"></i>
                            <i class="ph-fill ph-star"></i>
                            <i class="ph-fill ph-star-half"></i>
                        </div>
                    </div>
                    <span class="d-block">
                        4.5 Trustpilot Rating
                    </span>
                </div>
                <div class="quote">
                    <i class="ph-fill ph-quotes"></i>
                </div>
            </div>
            <div class="single-feedback-box position-relative z-1">
                <div class="image">
                    <img src="~/assets/images/customers/customer2.png" alt="customer-image">
                </div>
                <h3>
                    Andru Smith
                </h3>
                <span class="d-block">
                    Marketing Manager
                </span>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipiscing elit ullam facilisis at turpis eu faucibus. In dignissim enim eu ornare aliqu metus ex tempor neque sit amet efficitur turpis.
                </p>
                <div class="info d-lg-flex align-items-center justify-content-between">
                    <div>
                        <h6>
                            Trustpilot
                        </h6>
                        <div class="ratings">
                            <i class="ph-fill ph-star"></i>
                            <i class="ph-fill ph-star"></i>
                            <i class="ph-fill ph-star"></i>
                            <i class="ph-fill ph-star"></i>
                            <i class="ph-fill ph-star-half"></i>
                        </div>
                    </div>
                    <span class="d-block">
                        4.5 Trustpilot Rating
                    </span>
                </div>
                <div class="quote">
                    <i class="ph-fill ph-quotes"></i>
                </div>
            </div>
            <div class="single-feedback-box position-relative z-1">
                <div class="image">
                    <img src="~/assets/images/customers/customer2.png" alt="customer-image">
                </div>
                <h3>
                    Andru Smith
                </h3>
                <span class="d-block">
                    Marketing Manager
                </span>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipiscing elit ullam facilisis at turpis eu faucibus. In dignissim enim eu ornare aliqu metus ex tempor neque sit amet efficitur turpis.
                </p>
                <div class="info d-lg-flex align-items-center justify-content-between">
                    <div>
                        <h6>
                            Trustpilot
                        </h6>
                        <div class="ratings">
                            <i class="ph-fill ph-star"></i>
                            <i class="ph-fill ph-star"></i>
                            <i class="ph-fill ph-star"></i>
                            <i class="ph-fill ph-star"></i>
                            <i class="ph-fill ph-star-half"></i>
                        </div>
                    </div>
                    <span class="d-block">
                        4.5 Trustpilot Rating
                    </span>
                </div>
                <div class="quote">
                    <i class="ph-fill ph-quotes"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="shape4">
        <img src="~/assets/images/shapes/shape4.png" alt="shape4">
    </div>
</div>
<!-- End Feedback Area -->
<!-- Start Funfacts Area -->
<div class="funfacts-area ptb-100">
    <div class="container">
        <div class="funfacts-inner-area">
            <div class="row gx-0 justify-content-center">
                <div class="col-lg-3 col-md-3 col-6">
                    <div class="funfact-item text-center">
                        <h2 class="lh-1">
                            +12k
                        </h2>
                        <span class="d-block">
                            Our Active Member
                        </span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-6">
                    <div class="funfact-item text-center">
                        <h2 class="lh-1">
                            +1.5k
                        </h2>
                        <span class="d-block">
                            Our Total Project
                        </span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-6">
                    <div class="funfact-item text-center">
                        <h2 class="lh-1">
                            +14
                        </h2>
                        <span class="d-block">
                            Our Winning Award
                        </span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-6">
                    <div class="funfact-item text-center">
                        <h2 class="lh-1">
                            +50
                        </h2>
                        <span class="d-block">
                            Our Team Member
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Funfacts Area -->
<!-- Start Special Offer Area -->
<div class="special-offer-area position-relative z-1">
    <div class="container-fluid px-0">
        <div class="row align-items-center gx-0">
            <div class="col-lg-7 col-md-12">
                <div class="special-offer-content">
                    <span class="d-block sub-title fw-bold">
                        Special Offer
                    </span>
                    <h2>
                        Meet our Care Service for business people who appreciate time
                    </h2>
                    <p>
                        Non augue egestas commodo velit eget vestibulum tellus. Curabitur vulpu justo elit elementum orci pulvinar vel. Pellentesq habitant morbi tristique. Pellentesque habitant morbi tristique curabitur vulpu justo elit at.
                    </p>
                    <a href="#" class="default-btn">
                        Discover More
                        <i class="ph ph-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-5 col-md-12">
                <div class="special-offer-image">
                    <img src="~/assets/images/special-offer.png" alt="special-offer-image">
                </div>
            </div>
        </div>
    </div>
    <div class="shape5">
        <img src="~/assets/images/shapes/shape5.png" alt="shape5">
    </div>
</div>
<!-- End Special Offer Area -->
