<style>
    .page-title-area {
        background-image: url('/assets/images/userlogin.jpg');
    }

        .page-title-area h1 {
            color: black;
        }

        .page-title-area h6 {
            color: black;
        }
</style> <!-- Start Page Title Area -->
<div class="page-title-area position-relative z-1">
    <div class="container">
        <div class="page-title-content text-center">
            <h1>Blog Details</h1>
            <h6 class="mx-auto">Welcome to Our World, Where Innovation Meets Purpose, and Possibilities Unfold.</h6>
        </div>
    </div>
</div>
<!-- End Page Title Area -->
<!-- Start Blog Details Area -->
<div class="blog-details-area pt-100 pb-75">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="blog-left-sidebar">
                    <div class="single-blog-post blog-style details-style">
                        <div class="image position-relative overflow-hidden">
                            <a href="blog-details.html" class="d-block">
                                <img src="~/assets/images/blogs/blog5.jpg" alt="blog-image">
                            </a>
                            <div class="date">
                                <span class="d-block">
                                    <strong>13</strong> Feb
                                </span>
                            </div>
                        </div>
                        <div class="content">
                            <ul class="meta ps-0 list-unstyled">
                                <li class="position-relative d-inline-block">
                                    <i class="ph ph-user"></i>
                                    <a href="blog-author.html">
                                        Mark Smith
                                    </a>
                                </li>
                                <li class="position-relative d-inline-block">
                                    <i class="ph ph-clock"></i>
                                    3 Mins Read
                                </li>
                            </ul>
                            <h3>
                                <a href="blog-details.html">
                                    We’re Rolling And There’s A USA Health Form
                                </a>
                            </h3>
                            <p>Integer maximus accumsan nunc, sit amet tempor lectus facilisis eu. Cras vel elit felis. Vestibulum convallis ipsum id aliquam varius. Etiam nec laoreet turpis. Aenean nisi libero, tempor non sem vitae, hendrerit egestas ex. Nam magna odio, placerat ac risus tristique, viverra tincidunt nibh. Donec vitae leo efficitur, bibendum nibh ac.</p>
                            <p>Encourage a growth mindset within your organization. View change not as a threat but as an opportunity for learning, innovation, and improvement. Promote a culture of continuous learning and skill development. Employees who are equipped to acquire new skills quickly.</p>
                            <p>Integer maximus accumsan nunc, sit amet tempor lectus facilisis eu. Cras vel elit felis. Vestibulum convallis ipsum id aliquam varius. Etiam nec laoreet turpis. Aenean nisi libero, tempor non sem vitae, hendrerit egestas ex. Nam magna odio, placerat ac risus tristique, viverra tincidunt nibh. Donec vitae leo efficitur, bibendum nibh ac.</p>
                        </div>
                    </div>
                    <div class="categories-tags-info">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="categories">
                                    <ul class="list-unstyled ps-0 mb-0">
                                        <li class="d-inline-block">
                                            <span>Categories :</span>
                                        </li>
                                        <li class="d-inline-block">
                                            <a href="blog-categories.html">Business visa</a>
                                        </li>
                                        <li class="d-inline-block">
                                            <a href="blog-categories.html">Visa quotas</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="tag">
                                    <ul class="list-unstyled ps-0 mb-0">
                                        <li class="d-inline-block">
                                            <span>Tags :</span>
                                        </li>
                                        <li class="d-inline-block">
                                            <a href="blog-tag.html">Aircraft</a>
                                        </li>
                                        <li class="d-inline-block">
                                            <a href="blog-tag.html">Airplane</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="blog-comments-info">
                        <h2>3 Comments</h2>
                        <div class="comments-card d-flex position-relative">
                            <div class="image">
                                <img src="~/assets/images/blogs/blog11.jpg" alt="blog-image">
                            </div>
                            <div class="content">
                                <h3>Gareth Nelson</h3>
                                <span class="d-block">January 23, 2024 at 11:15 am</span>
                                <p>Mauris non dignissim purus, ac commodo diam. Donec sit amet lacinia nulla. Aliquam quis purus in justo pulvinar tempor. Aliquam tellus nulla, sollicitudin at euismod.</p>
                            </div>
                            <div class="reply">
                                <a href="blog-details.html">
                                    <i class="ph ph-arrow-bend-double-up-left"></i>
                                    Reply
                                </a>
                            </div>
                        </div>
                        <div class="comments-card style-2 d-flex position-relative">
                            <div class="image">
                                <img src="~/assets/images/blogs/blog12.jpg" alt="blog-image">
                            </div>
                            <div class="content">
                                <h3>Oliver Sebastian</h3>
                                <span class="d-block">January 23, 2024 at 11:15 am</span>
                                <p>Mauris non dignissim purus, ac commodo diam. Donec sit amet lacinia quis purus in justo pulvinar sollicitudin at euismod.</p>
                            </div>
                            <div class="reply">
                                <a href="blog-details.html">
                                    <i class="ph ph-arrow-bend-double-up-left"></i>
                                    Reply
                                </a>
                            </div>
                        </div>
                        <div class="comments-card d-flex position-relative">
                            <div class="image">
                                <img src="~/assets/images/blogs/blog13.jpg" alt="blog-image">
                            </div>
                            <div class="content">
                                <h3>Liam Jackson</h3>
                                <span class="d-block">January 23, 2024 at 11:15 am</span>
                                <p>Mauris non dignissim purus, ac commodo diam. Donec sit amet lacinia nulla. Aliquam quis purus in justo pulvinar tempor. Aliquam tellus nulla, sollicitudin at euismod.</p>
                            </div>
                            <div class="reply">
                                <a href="blog-details.html">
                                    <i class="ph ph-arrow-bend-double-up-left"></i>
                                    Reply
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="blog-form-info">
                        <div class="title">
                            <h2>Leave A Comment</h2>
                            <span>All fields marked with an asterisk (*) are required</span>
                        </div>
                        <form>
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Name*">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="form-group">
                                        <input type="email" class="form-control" placeholder="Email*">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Website*">
                            </div>
                            <div class="form-group">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="acceptSubscribePolicy">
                                    <label class="form-check-label" for="acceptSubscribePolicy">
                                        Save my name, email, and website in this browser for the next time I comment
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <textarea type="text" class="form-control textarea" placeholder="Your Comment *"></textarea>
                            </div>
                            <button type="submit" class="default-btn">
                                Post Comment
                                <i class="ph ph-arrow-right"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="blog-right-sidebar">
                    <div class="single-pages-widget form">
                        <h3>Search</h3>
                        <form>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Search....">
                                <button type="submit">
                                    <i class="ph-bold ph-magnifying-glass"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="single-pages-widget recent-post">
                        <h3>Recent Posts</h3>
                        <div class="post-card d-flex align-items-center">
                            <div class="image">
                                <a href="blog-details.html">
                                    <img src="~/assets/images/blogs/blog8.jpg" alt="image">
                                </a>
                            </div>
                            <div class="content">
                                <span class="d-block">December 22, 2024</span>
                                <h6>
                                    <a href="blog-details.html">
                                        We’re Rolling And There’s A USA Health Form
                                    </a>
                                </h6>
                            </div>
                        </div>
                        <div class="post-card d-flex align-items-center">
                            <div class="image">
                                <a href="blog-details.html">
                                    <img src="~/assets/images/blogs/blog9.jpg" alt="image">
                                </a>
                            </div>
                            <div class="content">
                                <span class="d-block">December 22, 2024</span>
                                <h6>
                                    <a href="blog-details.html">
                                        British airports increased profits 4 times in 2024
                                    </a>
                                </h6>
                            </div>
                        </div>
                        <div class="post-card d-flex align-items-center">
                            <div class="image">
                                <a href="blog-details.html">
                                    <img src="~/assets/images/blogs/blog10.jpg" alt="image">
                                </a>
                            </div>
                            <div class="content">
                                <span class="d-block">December 22, 2024</span>
                                <h6>
                                    <a href="blog-details.html">
                                        European airports increase tax on foreign passengers
                                    </a>
                                </h6>
                            </div>
                        </div>
                    </div>
                    <div class="single-pages-widget categories">
                        <h3>Categories</h3>
                        <ul class="list-unstyled ps-0 mb-0">
                            <li>
                                <a href="blog-categories.html">
                                    Academy
                                </a>
                            </li>
                            <li>
                                <a href="blog-categories.html">
                                    Aircraft
                                </a>
                            </li>
                            <li>
                                <a href="blog-categories.html">
                                    Flight News
                                </a>
                            </li>
                            <li>
                                <a href="blog-categories.html">
                                    News & Updates
                                </a>
                            </li>
                            <li>
                                <a href="blog-categories.html">
                                    Business visa
                                </a>
                            </li>
                            <li>
                                <a href="blog-categories.html">
                                    Visa quotas
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="single-pages-widget tag">
                        <h3>Tags</h3>
                        <ul class="list-unstyled ps-0 mb-0">
                            <li class="d-inline-block">
                                <a href="blog-tag.html">
                                    Aircraft
                                </a>
                            </li>
                            <li class="d-inline-block">
                                <a href="blog-tag.html">
                                    Airplane
                                </a>
                            </li>
                            <li class="d-inline-block">
                                <a href="blog-tag.html">
                                    Courses
                                </a>
                            </li>
                            <li class="d-inline-block">
                                <a href="#">
                                    Instructors
                                </a>
                            </li>
                            <li class="d-inline-block">
                                <a href="blog-tag.html">
                                    license
                                </a>
                            </li>
                            <li class="d-inline-block">
                                <a href="blog-tag.html">
                                    News
                                </a>
                            </li>
                            <li class="d-inline-block mb-0">
                                <a href="blog-tag.html">
                                    Pilots
                                </a>
                            </li>
                            <li class="d-inline-block">
                                <a href="blog-tag.html">
                                    Traveling
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Blog Details Area -->