<style>
    .page-title-area {
        background-image: url('/assets/images/userlogin.jpg');
    }

        .page-title-area h1 {
            color: black;
        }

        .page-title-area h6 {
            color: black;
        }
</style>      <!-- Start Page Title Area -->
<div class="page-title-area position-relative z-1">
    <div class="container">
        <div class="page-title-content text-center">
            <h1>Blog</h1>
            <h6 class="mx-auto">Welcome to Our World, Where Innovation Meets Purpose, and Possibilities Unfold.</h6>
        </div>
    </div>
</div>
<!-- End Page Title Area -->
<!-- Start Blog Area -->
<div class="blog-area pt-100 pb-75">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="blog-left-sidebar">
                    <div class="single-blog-post blog-style">
                        <div class="image position-relative overflow-hidden">
                            <a href="blog-details.html" class="d-block">
                                <img src="~/assets/images/blogs/blog5.jpg" alt="blog-image">
                            </a>
                            <div class="date">
                                <span class="d-block">
                                    <strong>13</strong> Feb
                                </span>
                            </div>
                        </div>
                        <div class="content">
                            <ul class="meta ps-0 list-unstyled">
                                <li class="position-relative d-inline-block">
                                    <i class="ph ph-user"></i>
                                    <a href="blog-author.html">
                                        Mark Smith
                                    </a>
                                </li>
                                <li class="position-relative d-inline-block">
                                    <i class="ph ph-clock"></i>
                                    3 Mins Read
                                </li>
                            </ul>
                            <h3>
                                <a href="blog-details.html">
                                    We’re Rolling And There’s A USA Health Form
                                </a>
                            </h3>
                            <p>Encourage a growth mindset within your organization. View change not as a threat but as an opportunity for learning, innovation, and improvement. Promote a culture of continuous learning and skill development. Employees who are equipped to acquire new skills quickly [...]</p>
                            <a href="blog-details.html" class="default-btn d-inline-block position-relative fw-bold">
                                Read More <i class="ph-bold ph-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="single-blog-post blog-style">
                        <div class="image position-relative overflow-hidden">
                            <a href="blog-details.html" class="d-block">
                                <img src="~/assets/images/blogs/blog6.jpg" alt="blog-image">
                            </a>
                            <div class="date">
                                <span class="d-block">
                                    <strong>13</strong> Feb
                                </span>
                            </div>
                        </div>
                        <div class="content">
                            <ul class="meta ps-0 list-unstyled">
                                <li class="position-relative d-inline-block">
                                    <i class="ph ph-user"></i>
                                    <a href="blog-author.html">
                                        Mark Smith
                                    </a>
                                </li>
                                <li class="position-relative d-inline-block">
                                    <i class="ph ph-clock"></i>
                                    3 Mins Read
                                </li>
                            </ul>
                            <h3>
                                <a href="blog-details.html">
                                    Airline Employment Rate of Avatos’s Students Increases Significantly
                                </a>
                            </h3>
                            <p>Encourage a growth mindset within your organization. View change not as a threat but as an opportunity for learning, innovation, and improvement. Promote a culture of continuous learning and skill development. Employees who are equipped to acquire new skills quickly [...]</p>
                            <a href="blog-details.html" class="default-btn d-inline-block position-relative fw-bold">
                                Read More <i class="ph-bold ph-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="single-blog-post blog-style">
                        <div class="image position-relative overflow-hidden">
                            <a href="blog-details.html" class="d-block">
                                <img src="~/assets/images/blogs/blog7.jpg" alt="blog-image">
                            </a>
                            <div class="date">
                                <span class="d-block">
                                    <strong>13</strong> Feb
                                </span>
                            </div>
                        </div>
                        <div class="content">
                            <ul class="meta ps-0 list-unstyled">
                                <li class="position-relative d-inline-block">
                                    <i class="ph ph-user"></i>
                                    <a href="blog-author.html">
                                        Mark Smith
                                    </a>
                                </li>
                                <li class="position-relative d-inline-block">
                                    <i class="ph ph-clock"></i>
                                    3 Mins Read
                                </li>
                            </ul>
                            <h3>
                                <a href="blog-details.html">
                                    A first-time flyer’s guide to rivate jets charters
                                </a>
                            </h3>
                            <p>Encourage a growth mindset within your organization. View change not as a threat but as an opportunity for learning, innovation, and improvement. Promote a culture of continuous learning and skill development. Employees who are equipped to acquire new skills quickly [...]</p>
                            <a href="blog-details.html" class="default-btn d-inline-block position-relative fw-bold">
                                Read More <i class="ph-bold ph-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            <li class="page-item">
                                <a class="page-link" href="blog.html"><i class="ph-bold ph-caret-left"></i></a>
                            </li>
                            <li class="page-item"><a class="page-link active" href="blog.html">01</a></li>
                            <li class="page-item"><a class="page-link" href="blog.html">02</a></li>
                            <li class="page-item"><a class="page-link" href="blog.html">03</a></li>
                            <li class="page-item">
                                <a class="page-link" href="blog.html"><i class="ph-bold ph-caret-right"></i></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="blog-right-sidebar">
                    <div class="single-pages-widget form">
                        <h3>Search</h3>
                        <form>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Search....">
                                <button type="submit">
                                    <i class="ph-bold ph-magnifying-glass"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="single-pages-widget recent-post">
                        <h3>Recent Posts</h3>
                        <div class="post-card d-flex align-items-center">
                            <div class="image">
                                <a href="blog-details.html">
                                    <img src="~/assets/images/blogs/blog8.jpg" alt="image">
                                </a>
                            </div>
                            <div class="content">
                                <span class="d-block">December 22, 2024</span>
                                <h6>
                                    <a href="blog-details.html">
                                        We’re Rolling And There’s A USA Health Form
                                    </a>
                                </h6>
                            </div>
                        </div>
                        <div class="post-card d-flex align-items-center">
                            <div class="image">
                                <a href="blog-details.html">
                                    <img src="~/assets/images/blogs/blog9.jpg" alt="image">
                                </a>
                            </div>
                            <div class="content">
                                <span class="d-block">December 22, 2024</span>
                                <h6>
                                    <a href="blog-details.html">
                                        British airports increased profits 4 times in 2024
                                    </a>
                                </h6>
                            </div>
                        </div>
                        <div class="post-card d-flex align-items-center">
                            <div class="image">
                                <a href="blog-details.html">
                                    <img src="~/assets/images/blogs/blog10.jpg" alt="image">
                                </a>
                            </div>
                            <div class="content">
                                <span class="d-block">December 22, 2024</span>
                                <h6>
                                    <a href="blog-details.html">
                                        European airports increase tax on foreign passengers
                                    </a>
                                </h6>
                            </div>
                        </div>
                    </div>
                    <div class="single-pages-widget categories">
                        <h3>Categories</h3>
                        <ul class="list-unstyled ps-0 mb-0">
                            <li>
                                <a href="blog-categories.html">
                                    Academy
                                </a>
                            </li>
                            <li>
                                <a href="blog-categories.html">
                                    Aircraft
                                </a>
                            </li>
                            <li>
                                <a href="blog-categories.html">
                                    Flight News
                                </a>
                            </li>
                            <li>
                                <a href="blog-categories.html">
                                    News & Updates
                                </a>
                            </li>
                            <li>
                                <a href="blog-categories.html">
                                    Business visa
                                </a>
                            </li>
                            <li>
                                <a href="blog-categories.html">
                                    Visa quotas
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="single-pages-widget tag">
                        <h3>Tags</h3>
                        <ul class="list-unstyled ps-0 mb-0">
                            <li class="d-inline-block">
                                <a href="blog-tag.html">
                                    Aircraft
                                </a>
                            </li>
                            <li class="d-inline-block">
                                <a href="blog-tag.html">
                                    Airplane
                                </a>
                            </li>
                            <li class="d-inline-block">
                                <a href="blog-tag.html">
                                    Courses
                                </a>
                            </li>
                            <li class="d-inline-block">
                                <a href="#">
                                    Instructors
                                </a>
                            </li>
                            <li class="d-inline-block">
                                <a href="blog-tag.html">
                                    license
                                </a>
                            </li>
                            <li class="d-inline-block">
                                <a href="blog-tag.html">
                                    News
                                </a>
                            </li>
                            <li class="d-inline-block mb-0">
                                <a href="blog-tag.html">
                                    Pilots
                                </a>
                            </li>
                            <li class="d-inline-block">
                                <a href="blog-tag.html">
                                    Traveling
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Blog Area -->
