<h4>boarding pass generate hoga
</h4>
@{
    Layout = null;
}
<div class="card" style="width: 18rem;">
   
    <div class="card-body">
        <h5 class="card-title">@Model.booking_data.ticket_id</h5>
        <p class="card-text">@Model.booking_data.name</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>