<style>
    .page-title-area {
        background-image: url('/assets/images/userlogin.jpg');
    }

        .page-title-area h1 {
            color: black;
        }

        .page-title-area h6 {
            color: black;
        }
</style>    <!-- Start Page Title Area -->
<div class="page-title-area position-relative z-1">
    <div class="container">
        <div class="page-title-content text-center">
            <h1>Destination</h1>
            <h6 class="mx-auto">Welcome to Our World, Where Innovation Meets Purpose, and Possibilities Unfold.</h6>
        </div>
    </div>
</div>
<!-- End Page Title Area -->
<!-- Start Destination Area -->
<div class="destination-area pt-100 pb-75">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-sm-6">
                <div class="destinations-item text-center position-relative">
                    <a href="destination-details.html" class="image d-block">
                        <img src="~/assets/images/destinations/destinations3.jpg" alt="destinations-image">
                    </a>
                    <div class="content">
                        <h3>
                            <a href="destination-details.html">
                                London – Moscow
                            </a>
                        </h3>
                        <span class="d-block">
                            Departure: 17:50 Arrival: 20:42
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="destinations-item text-center position-relative">
                    <a href="destination-details.html" class="image d-block">
                        <img src="~/assets/images/destinations/destinations4.jpg" alt="destinations-image">
                    </a>
                    <div class="content">
                        <h3>
                            <a href="destination-details.html">
                                Hamburg – Stockholm
                            </a>
                        </h3>
                        <span class="d-block">
                            Departure: 14:21 Arrival: 22:34
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="destinations-item text-center position-relative">
                    <a href="destination-details.html" class="image d-block">
                        <img src="~/assets/images/destinations/destinations5.jpg" alt="destinations-image">
                    </a>
                    <div class="content">
                        <h3>
                            <a href="destination-details.html">
                                Milan – Stockholm
                            </a>
                        </h3>
                        <span class="d-block">
                            Departure: 17:50 Arrival: 20:42
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="destinations-item text-center position-relative">
                    <a href="destination-details.html" class="image d-block">
                        <img src="~/assets/images/destinations/destinations7.jpg" alt="destinations-image">
                    </a>
                    <div class="content">
                        <h3>
                            <a href="destination-details.html">
                                Vienna – Rome
                            </a>
                        </h3>
                        <span class="d-block">
                            Departure: 17:50 Arrival: 20:42
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="destinations-item text-center position-relative">
                    <a href="destination-details.html" class="image d-block">
                        <img src="~/assets/images/destinations/destinations8.jpg" alt="destinations-image">
                    </a>
                    <div class="content">
                        <h3>
                            <a href="destination-details.html">
                                Madrid – Prague
                            </a>
                        </h3>
                        <span class="d-block">
                            Departure: 17:50 Arrival: 20:42
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="destinations-item text-center position-relative">
                    <a href="destination-details.html" class="image d-block">
                        <img src="~/assets/images/destinations/destinations9.jpg" alt="destinations-image">
                    </a>
                    <div class="content">
                        <h3>
                            <a href="destination-details.html">
                                Paris – Barcelona
                            </a>
                        </h3>
                        <span class="d-block">
                            Departure: 17:50 Arrival: 20:42
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a class="page-link" href="destination.html"><i class="ph-bold ph-caret-left"></i></a>
                </li>
                <li class="page-item"><a class="page-link active" href="destination.html">01</a></li>
                <li class="page-item"><a class="page-link" href="destination.html">02</a></li>
                <li class="page-item"><a class="page-link" href="destination.html">03</a></li>
                <li class="page-item">
                    <a class="page-link" href="destination.html"><i class="ph-bold ph-caret-right"></i></a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<!-- End Destination Area -->