<!-- Start Page Title Area -->
<div class="page-title-area position-relative z-1">
    <div class="container">
        <div class="page-title-content text-center">
            <h1>Frequently Asked Questions</h1>
            <h6 class="mx-auto">Welcome to Our World, Where Innovation Meets Purpose, and Possibilities Unfold.</h6>
        </div>
    </div>
</div>
<!-- End Page Title Area -->
<!-- Start FAQ Area -->
<div class="faq-area pt-100 pb-75">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="faq-accordion accordion" id="faqAccordion">
                    <div class="accordion-item">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#accordionCollapseOne" aria-expanded="true" aria-controls="accordionCollapseOne">
                            What Aircraft are used for Charter Flights?
                        </button>
                        <div id="accordionCollapseOne" class="accordion-collapse collapse show" data-bs-parent="#faqAccordion">
                            <div class="accordion-body">
                                <p>
                                    Non augue egestas commodo velit eget vestibulum tellus. Curabitur justo elit at elementum orci pulvinar vel. Pellentesq habitant morbitr. Pellentesque habitant morbi tristique.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionCollapseTwo" aria-expanded="false" aria-controls="accordionCollapseTwo">
                            How many people do they hold?
                        </button>
                        <div id="accordionCollapseTwo" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">
                            <div class="accordion-body">
                                <p>
                                    Non augue egestas commodo velit eget vestibulum tellus. Curabitur justo elit at elementum orci pulvinar vel. Pellentesq habitant morbitr. Pellentesque habitant morbi tristique.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionCollapseThree" aria-expanded="false" aria-controls="accordionCollapseThree">
                            Can I use more than one of your Aircrafts at a time?
                        </button>
                        <div id="accordionCollapseThree" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">
                            <div class="accordion-body">
                                <p>
                                    Non augue egestas commodo velit eget vestibulum tellus. Curabitur justo elit at elementum orci pulvinar vel. Pellentesq habitant morbitr. Pellentesque habitant morbi tristique.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionCollapseSeven" aria-expanded="false" aria-controls="accordionCollapseSeven">
                            How much time will I save on a charter flight?
                        </button>
                        <div id="accordionCollapseSeven" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">
                            <div class="accordion-body">
                                <p>
                                    Non augue egestas commodo velit eget vestibulum tellus. Curabitur justo elit at elementum orci pulvinar vel. Pellentesq habitant morbitr. Pellentesque habitant morbi tristique.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionCollapseEight" aria-expanded="false" aria-controls="accordionCollapseEight">
                            Can I use more than one of your aircrafts at a time?
                        </button>
                        <div id="accordionCollapseEight" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">
                            <div class="accordion-body">
                                <p>
                                    Non augue egestas commodo velit eget vestibulum tellus. Curabitur justo elit at elementum orci pulvinar vel. Pellentesq habitant morbitr. Pellentesque habitant morbi tristique.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="faq-accordion accordion" id="faqAccordion2">
                    <div class="accordion-item">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#accordionCollapseFour" aria-expanded="true" aria-controls="accordionCollapseFour">
                            What types of Aircrafts are available?
                        </button>
                        <div id="accordionCollapseFour" class="accordion-collapse collapse" data-bs-parent="#faqAccordion2">
                            <div class="accordion-body">
                                <p>
                                    Non augue egestas commodo velit eget vestibulum tellus. Curabitur justo elit at elementum orci pulvinar vel. Pellentesq habitant morbitr. Pellentesque habitant morbi tristique.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionCollapseFive" aria-expanded="false" aria-controls="accordionCollapseFive">
                            Where can I fly on one of your Private Jets?
                        </button>
                        <div id="accordionCollapseFive" class="accordion-collapse collapse" data-bs-parent="#faqAccordion2">
                            <div class="accordion-body">
                                <p>
                                    Non augue egestas commodo velit eget vestibulum tellus. Curabitur justo elit at elementum orci pulvinar vel. Pellentesq habitant morbitr. Pellentesque habitant morbi tristique.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionCollapseSix" aria-expanded="false" aria-controls="accordionCollapseSix">
                            Is there a transfer from the airport to the hotel?
                        </button>
                        <div id="accordionCollapseSix" class="accordion-collapse collapse" data-bs-parent="#faqAccordion2">
                            <div class="accordion-body">
                                <p>
                                    Non augue egestas commodo velit eget vestibulum tellus. Curabitur justo elit at elementum orci pulvinar vel. Pellentesq habitant morbitr. Pellentesque habitant morbi tristique.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionCollapseNine" aria-expanded="false" aria-controls="accordionCollapseNine">
                            Can I return the product after purchase?
                        </button>
                        <div id="accordionCollapseNine" class="accordion-collapse collapse" data-bs-parent="#faqAccordion2">
                            <div class="accordion-body">
                                <p>
                                    Non augue egestas commodo velit eget vestibulum tellus. Curabitur justo elit at elementum orci pulvinar vel. Pellentesq habitant morbitr. Pellentesque habitant morbi tristique.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionCollapseTen" aria-expanded="false" aria-controls="accordionCollapseTen">
                            How do I use a promotional code?
                        </button>
                        <div id="accordionCollapseTen" class="accordion-collapse collapse" data-bs-parent="#faqAccordion2">
                            <div class="accordion-body">
                                <p>
                                    Non augue egestas commodo velit eget vestibulum tellus. Curabitur justo elit at elementum orci pulvinar vel. Pellentesq habitant morbitr. Pellentesque habitant morbi tristique.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionCollapseEleven" aria-expanded="false" aria-controls="accordionCollapseEleven">
                            Is there a transfer from the airport to the hotel??
                        </button>
                        <div id="accordionCollapseEleven" class="accordion-collapse collapse" data-bs-parent="#faqAccordion2">
                            <div class="accordion-body">
                                <p>
                                    Non augue egestas commodo velit eget vestibulum tellus. Curabitur justo elit at elementum orci pulvinar vel. Pellentesq habitant morbitr. Pellentesque habitant morbi tristique.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End FAQ Area -->
<!-- Start Flight Booking Area -->
<div class="flight-booking-area pb-100 position-relative z-1 bg-f3f4f6">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="flight-booking-form position-relative">
                    <span class="step">
                        <span>Step</span> 1 of 2
                    </span>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="round-trip-tab" data-bs-toggle="tab" data-bs-target="#round-trip-tab-pane" type="button" role="tab" aria-controls="round-trip-tab-pane" aria-selected="true">
                                Round Trip
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="one-way-tab" data-bs-toggle="tab" data-bs-target="#one-way-tab-pane" type="button" role="tab" aria-controls="one-way-tab-pane" aria-selected="false">
                                One Way
                            </button>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="round-trip-tab-pane" role="tabpanel" tabindex="0">
                            <form>
                                <div class="row">
                                    <div class="col-lg-12 col-md-12">
                                        <div class="form-group">
                                            <label>
                                                From:
                                            </label>
                                            <input type="text" class="form-control" placeholder="City or Airport Name">
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12">
                                        <div class="form-group">
                                            <label>
                                                To:
                                            </label>
                                            <input type="text" class="form-control" placeholder="City or Airport Name">
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <div class="form-group">
                                            <label>
                                                Depart date:
                                            </label>
                                            <input type="date" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <div class="form-group">
                                            <label>
                                                Return date:
                                            </label>
                                            <input type="date" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <div class="form-group">
                                            <label>
                                                Passengers:
                                            </label>
                                            <select class="form-select">
                                                <option selected>1</option>
                                                <option value="1">2</option>
                                                <option value="2">3</option>
                                                <option value="3">4</option>
                                                <option value="4">5</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <div class="form-group">
                                            <label>
                                                Baggage:
                                            </label>
                                            <select class="form-select">
                                                <option selected>VIP</option>
                                                <option value="1">Low</option>
                                                <option value="2">High</option>
                                                <option value="3">Medium</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" class="default-btn">
                                    Next Step
                                    <i class="ph ph-arrow-right"></i>
                                </button>
                            </form>
                        </div>
                        <div class="tab-pane fade" id="one-way-tab-pane" role="tabpanel" tabindex="0">
                            <form>
                                <div class="row">
                                    <div class="col-lg-12 col-md-12">
                                        <div class="form-group">
                                            <label>
                                                From:
                                            </label>
                                            <input type="text" class="form-control" placeholder="City or Airport Name">
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12">
                                        <div class="form-group">
                                            <label>
                                                To:
                                            </label>
                                            <input type="text" class="form-control" placeholder="City or Airport Name">
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <div class="form-group">
                                            <label>
                                                Depart date:
                                            </label>
                                            <input type="date" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <div class="form-group">
                                            <label>
                                                Return date:
                                            </label>
                                            <input type="date" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <div class="form-group">
                                            <label>
                                                Passengers:
                                            </label>
                                            <select class="form-select">
                                                <option selected>1</option>
                                                <option value="1">2</option>
                                                <option value="2">3</option>
                                                <option value="3">4</option>
                                                <option value="4">5</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <div class="form-group">
                                            <label>
                                                Baggage:
                                            </label>
                                            <select class="form-select">
                                                <option selected>VIP</option>
                                                <option value="1">Low</option>
                                                <option value="2">High</option>
                                                <option value="3">Medium</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" class="default-btn">
                                    Next Step
                                    <i class="ph ph-arrow-right"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                    <p>
                        * After sending request our manager will contact you for more details about charter.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="flight-booking-content">
                    <span class="d-block sub-title fw-bold">
                        Get Your Flight
                    </span>
                    <h2>
                        Online Request for Private Flight
                    </h2>
                    <ul class="features-list ps-0 mb-0 list-unstyled">
                        <li class="position-relative">
                            <i class="ph ph-check"></i>
                            <h3>
                                Multiple Port Services
                            </h3>
                            <p>
                                Non augue egestas commodo velit eget vestibulum tellus justo elit at elementum orci pulvinar vel. Pellentesq habitant pellentesque habitant morbi tristique.
                            </p>
                        </li>
                        <li class="position-relative">
                            <i class="ph ph-check"></i>
                            <h3>
                                End to End Solutions
                            </h3>
                            <p>
                                Non augue egestas commodo velit eget vestibulum tellus justo elit at elementum orci pulvinar vel. Pellentesq habitant pellentesque habitant morbi tristique.
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Flight Booking Area -->
<!-- Start CTA Area -->
<div class="cta-area position-relative z-1">
    <div class="container">
        <div class="cta-inner-area">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-12">
                    <div class="d-md-flex align-items-center justify-content-between">
                        <div class="d-flex align-items-center">
                            <div class="icon">
                                <i class="ph-fill ph-phone-call"></i>
                            </div>
                            <div class="user">
                                <img src="assets/images/users/user1.jpg" alt="user-image">
                            </div>
                        </div>
                        <div class="number">
                            <a href="tel:+9288006780">
                                +92 ( 8800 ) - 6780
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="d-md-flex align-items-center justify-content-between">
                        <p>
                            Use Our Hotline For Quick Get In Touch For 24 Hours
                        </p>
                        <div class="image">
                            <img src="assets/images/message.png" alt="message-image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End CTA Area -->
<!-- Start Funfacts Area -->
<div class="funfacts-area ptb-100">
    <div class="container">
        <div class="funfacts-inner-area">
            <div class="row gx-0 justify-content-center">
                <div class="col-lg-3 col-md-3 col-6">
                    <div class="funfact-item text-center">
                        <h2 class="lh-1">
                            +12k
                        </h2>
                        <span class="d-block">
                            Our Active Member
                        </span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-6">
                    <div class="funfact-item text-center">
                        <h2 class="lh-1">
                            +1.5k
                        </h2>
                        <span class="d-block">
                            Our Total Project
                        </span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-6">
                    <div class="funfact-item text-center">
                        <h2 class="lh-1">
                            +14
                        </h2>
                        <span class="d-block">
                            Our Winning Award
                        </span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-6">
                    <div class="funfact-item text-center">
                        <h2 class="lh-1">
                            +50
                        </h2>
                        <span class="d-block">
                            Our Team Member
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Funfacts Area -->