<style>
    .page-title-area {
        background-image: url('/assets/images/userlogin.jpg');
    }

        .page-title-area h1 {
            color: black;
        }

        .page-title-area h6 {
            color: black;
        }
</style> <!-- Start Page Title Area -->
<div class="page-title-area position-relative z-1">
    <div class="container">
        <div class="page-title-content text-center">
            <h1>Gallery 3-columns</h1>
            <h6 class="mx-auto">Welcome to Our World, Where Innovation Meets Purpose, and Possibilities Unfold.</h6>
        </div>
    </div>
</div>
<!-- End Page Title Area -->
<!--   Start Gallery Area -->
<div class="gallery-area pt-100 pb-75">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-sm-6">
                <div class="single-gallery-info position-relative z-1">
                    <img src="~/assets/images/gallery/gallery7.jpg" alt="gallery-image">
                    <a class="icon style-2" href="gallery-three.html">
                        <i class="ph-bold ph-plus"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="single-gallery-info position-relative z-1">
                    <img src="~/assets/images/gallery/gallery8.jpg" alt="gallery-image">
                    <a class="icon style-2" href="gallery-three.html">
                        <i class="ph-bold ph-plus"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="single-gallery-info position-relative z-1">
                    <img src="~/assets/images/gallery/gallery9.jpg" alt="gallery-image">
                    <a class="icon style-2" href="gallery-three.html">
                        <i class="ph-bold ph-plus"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="single-gallery-info position-relative z-1">
                    <img src="~/assets/images/gallery/gallery7.jpg" alt="gallery-image">
                    <a class="icon style-2" href="gallery-three.html">
                        <i class="ph-bold ph-plus"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="single-gallery-info position-relative z-1">
                    <img src="~/assets/images/gallery/gallery11.jpg" alt="gallery-image">
                    <a class="icon style-2" href="gallery-three.html">
                        <i class="ph-bold ph-plus"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="single-gallery-info position-relative z-1">
                    <img src="~/assets/images/gallery/gallery12.jpg" alt="gallery-image">
                    <a class="icon style-2" href="gallery-three.html">
                        <i class="ph-bold ph-plus"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="single-gallery-info position-relative z-1">
                    <img src="~/assets/images/gallery/gallery13.jpg" alt="gallery-image">
                    <a class="icon style-2" href="gallery-three.html">
                        <i class="ph-bold ph-plus"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="single-gallery-info position-relative z-1">
                    <img src="~/assets/images/gallery/gallery14.jpg" alt="gallery-image">
                    <a class="icon style-2" href="gallery-three.html">
                        <i class="ph-bold ph-plus"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="single-gallery-info position-relative z-1">
                    <img src="~/assets/images/gallery/gallery15.jpg" alt="gallery-image">
                    <a class="icon style-2" href="gallery-three.html">
                        <i class="ph-bold ph-plus"></i>
                    </a>
                </div>
            </div>
        </div>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a class="page-link" href="gallery-two.html"><i class="ph-bold ph-caret-left"></i></a>
                </li>
                <li class="page-item"><a class="page-link active" href="gallery-two.html">01</a></li>
                <li class="page-item"><a class="page-link" href="gallery-two.html">02</a></li>
                <li class="page-item"><a class="page-link" href="gallery-two.html">03</a></li>
                <li class="page-item">
                    <a class="page-link" href="gallery-two.html"><i class="ph-bold ph-caret-right"></i></a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<!-- End Gallery Area -->
