
<!-- Start Banner Wrapper Area -->
<div class="banner-wrapper-area position-relative z-1">
    <div class="container-fluid">
        <div class="banner-wrapper-content z-1" data-cue="slideInUp">
            <h1>
               Book your filght 
                <span>Global Coverage</span>
            </h1>
            <a class="button text-decoration-none position-relative d-inline-block" href="contact.html">
                Book Now
                <i class="ph ph-arrow-right"></i>
            </a>
        </div>
        <div class="banner-wrapper-video" data-cue="slideInUp">
            <div class="icon d-flex align-items-center">
                <h3>Watch Video</h3>
                <a class="text-decoration-none d-inline-block popup-youtube position-relative  background-image" href="#">
                    <i class="ph-fill ph-play"></i>
                </a>
            </div>
        </div>
        <div class="banner-wrapper-awards d-flex align-items-center" data-cue="slideInUp">
            <h3 class="position-relative mb-0">Awards</h3>
            <ul class="list-unstyled ps-0 mb-0">
                <li class="d-inline-block">JetGlow Award</li>
                <li class="d-inline-block">SkySwift Prize</li>
                <li class="d-inline-block">LuxLift Cup</li>
                <li class="d-inline-block">AeroGem Honor</li>
                <li class="d-inline-block">AirElite Trophy</li>
                <li class="d-inline-block">SwiftWings Seal</li>
            </ul>
        </div>
    </div>
    <div class="banner-icon-shape position-absolute" data-cue="slideInUp">
        <img src="~/assets/images/banners/banner-icon-shape-2.png" alt="shape">
    </div>
</div>
<!-- End Banner Wrapper Area -->
<!-- Start Features Area  -->
<div class="features-area pt-100 pb-75 position-relative z-2">
    <div class="container">
        <div class="section-title text-center mx-auto style-2" data-cue="slideInUp">
            <span class="d-block sub-title fw-bold">
                OUR FEATURES
            </span>
            <h2>
                What We Offer
            </h2>
        </div>
        <div class="row justify-content-center" data-cue="slideInUp">
            <div class="col-lg-4 col-sm-6">
                <div class="single-features-card text-center position-relative z-1">
                    <div class="icon">
                        <img src="~/assets/images/features/features-1.svg" alt="icon">
                    </div>
                    <span class="d-block">Easy Flight Search</span>
                    <p>
                        <a class="text-decoration-none" href="#">Find flights to your favorite destinations with just a few clicks.</a>
                    </p>
                   
                    <a class="link-btn text-decoration-none d-inline-block position-relative fw-bold" href="@Url.Action("flight_details","website")">
                        Discover More
                        <i class="ph-bold ph-arrow-right"></i>
                    </a>
                    <h4 class="number">01</h4>
                    <div class="hover-image position-absolute">
                        <img src="~/assets/images/features/features-card-hover.png" alt="imape">
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="single-features-card text-center position-relative z-1">
                    <div class="icon">
                        <img src="~/assets/images/features/features-2.svg" alt="icon">
                    </div>
                    <span class="d-block">Flexible Booking Options</span>
                    <p>
                        <a class="text-decoration-none" href="#">Choose the booking that best fits your travel plans, with no extra charges for rescheduling</a>
                    </p>
                    
                    <a class="link-btn text-decoration-none d-inline-block position-relative fw-bold" href="@Url.Action("flight_details","website")">
                        Discover More
                        <i class="ph-bold ph-arrow-right"></i>
                    </a>
                    <h4 class="number">02</h4>
                    <div class="hover-image position-absolute">
                        <img src="~/assets/images/features/features-card-hover.png" alt="imape">
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="single-features-card text-center position-relative z-1">
                    <div class="icon">
                        <img src="~/assets/images/features/features-3.svg" alt="icon">
                    </div>
                    <span class="d-block">24/7 Customer Support</span>
                    <p>
                        <a class="text-decoration-none" href="#">Get assistance anytime, anywhere with our round-the-clock customer service team.</a>
                    </p>
                
                    <a class="link-btn text-decoration-none d-inline-block position-relative fw-bold" href="@Url.Action("flight_details","website")">
                        Discover More
                        <i class="ph-bold ph-arrow-right"></i>
                    </a>
                    <h4 class="number">03</h4>
                    <div class="hover-image position-absolute">
                        <img src="~/assets/images/features/features-card-hover.png" alt="imape">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Features Area -->


<!-- End Performance Specifications Area -->
<!-- Start Request Quote Area -->
<div class="request-quote-area bg-image ptb-100">
    <div class="container">
        <div class="request-quote-content text-center mx-auto" data-cue="slideInUp">
            <h2 class="mx-auto">
                We Fly You To Over 20.000 Destinations World Wide
            </h2>
            <p>
                Avelo Airline proudly raises the bar and exceeds the standard for luxury and corporate private jet charter services. We pride ourselves on offering a professional and personalised service.
            </p>
            <a href="blog-details.html" class="default-btn style-2">
                Request Quote
                <i class="ph-bold ph-arrow-right"></i>
            </a>
        </div>
    </div>
</div>
<!-- End Request Quote Area -->
<!-- Start Active Airplanes Area -->
<div class="airplanes-area pt-100 pb-75 position-relative z-2">
    <div class="container">
        <div class="row" data-cue="slideInUp">
            <div class="col-lg-3">
                <div class="single-airplanes-card position-relative z-1">
                    <div class="icon">
                        <img src="~/assets/images/airplanes/airplanes1.svg" alt="icon">
                    </div>
                    <h1>
                        +<span class="counter">95</span>
                    </h1>
                    <h3>
                        <a class="text-decoration-none" href="private-flights.html">Our Professional Pilots</a>
                    </h3>
                    <div class="shape-image position-absolute">
                        <img src="~/assets/images/airplanes/airplanes-card-shape.jpg" alt="shape">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="single-airplanes-video text-center">
                    <a class="text-decoration-none popup-youtube" href="#">
                        Watch Our Video
                        <i class="ph-fill ph-play"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="single-airplanes-card position-relative z-1">
                    <div class="icon">
                        <img src="~/assets/images/airplanes/airplanes1.svg" alt="icon">
                    </div>
                    <h1>
                        +<span class="counter">68</span>
                    </h1>
                    <h3>
                        <a class="text-decoration-none" href="private-flights.html">Our Active Jet Airplanes</a>
                    </h3>
                    <div class="shape-image position-absolute">
                        <img src="~/assets/images/airplanes/airplanes-card-shape.jpg" alt="shape">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Active Airplanes Area -->
<!-- Start Destinations Area -->
<div class="destinations-area pb-75 position-relative z-1">
    <div class="container">
        <div class="section-title text-center mx-auto" data-cue="slideInUp">
            <span class="d-block sub-title fw-bold">
                POPULAR DESTINATIONS
            </span>
            <h2>
                Checkout the Popular Jet Charter Destinations
            </h2>
        </div>
        <div class="row align-items-center justify-content-center" data-cue="slideInUp">
            <div class="col-lg-4 col-sm-6">
                <div class="destinations-item text-center position-relative style-2">
                    <a href="destination-details.html" class="image d-block">
                        <img src="~/assets/images/destinations/destinations3.jpg" alt="destinations-image">
                    </a>
                    <div class="content">
                        <h3>
                            <a href="destination-details.html">
                                London – Moscow
                            </a>
                        </h3>
                        <span class="d-block">
                            Departure: 17:50 Arrival: 20:42
                        </span>
                        <div class="shape-image">
                            <img src="~/assets/images/destinations/destinations6.jpg" alt="shape">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="destinations-item text-center position-relative style-2">
                    <a href="destination-details.html" class="image d-block">
                        <img src="~/assets/images/destinations/destinations4.jpg" alt="destinations-image">
                    </a>
                    <div class="content">
                        <h3>
                            <a href="destination-details.html">
                                Hamburg – Stockholm
                            </a>
                        </h3>
                        <span class="d-block">
                            Departure: 14:21 Arrival: 22:34
                        </span>
                        <div class="shape-image">
                            <img src="~/assets/images/destinations/destinations6.jpg" alt="shape">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="destinations-item text-center position-relative style-2">
                    <a href="destination-details.html" class="image d-block">
                        <img src="~/assets/images/destinations/destinations5.jpg" alt="destinations-image">
                    </a>
                    <div class="content">
                        <h3>
                            <a href="destination-details.html">
                                Milan – Stockholm
                            </a>
                        </h3>
                        <span class="d-block">
                            Departure: 14:21 Arrival: 22:34
                        </span>
                        <div class="shape-image">
                            <img src="~/assets/images/destinations/destinations6.jpg" alt="shape">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="shape3 style-2">
        <img src="assets/images/shapes/shape3.png" alt="shape3">
    </div>
</div>
<!-- End Destinations Area -->
<!-- Start Flight Booking Area -->

<!-- End Flight Booking Area -->


<!-- Start Pricing Area -->
<!-- End Pricing Area -->
<!-- Start FAQ Area -->
<div class="faq-area pb-75">
    <div class="container">
        <div class="section-title text-center mx-auto" data-cue="slideInUp">
            <span class="d-block sub-title fw-bold">
                Information
            </span>
            <h2>
                Frequently Asked Questions
            </h2>
        </div>
        <div class="row" data-cue="slideInUp">
            <div class="col-lg-6 col-md-12">
                <div class="faq-accordion accordion" id="faqAccordion">
                    <div class="accordion-item">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#accordionCollapseOne" aria-expanded="true" aria-controls="accordionCollapseOne">
                            What Aircraft are used for Charter Flights?
                        </button>
                        <div id="accordionCollapseOne" class="accordion-collapse collapse show" data-bs-parent="#faqAccordion">
                            <div class="accordion-body">
                                <p>
                                    Non augue egestas commodo velit eget vestibulum tellus. Curabitur justo elit at elementum orci pulvinar vel. Pellentesq habitant morbitr. Pellentesque habitant morbi tristique.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionCollapseTwo" aria-expanded="false" aria-controls="accordionCollapseTwo">
                            How many people do they hold?
                        </button>
                        <div id="accordionCollapseTwo" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">
                            <div class="accordion-body">
                                <p>
                                    Non augue egestas commodo velit eget vestibulum tellus. Curabitur justo elit at elementum orci pulvinar vel. Pellentesq habitant morbitr. Pellentesque habitant morbi tristique.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionCollapseThree" aria-expanded="false" aria-controls="accordionCollapseThree">
                            Can I use more than one of your Aircrafts at a time?
                        </button>
                        <div id="accordionCollapseThree" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">
                            <div class="accordion-body">
                                <p>
                                    Non augue egestas commodo velit eget vestibulum tellus. Curabitur justo elit at elementum orci pulvinar vel. Pellentesq habitant morbitr. Pellentesque habitant morbi tristique.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="faq-accordion accordion" id="faqAccordion2">
                    <div class="accordion-item">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#accordionCollapseFour" aria-expanded="true" aria-controls="accordionCollapseFour">
                            What types of Aircrafts are available?
                        </button>
                        <div id="accordionCollapseFour" class="accordion-collapse collapse" data-bs-parent="#faqAccordion2">
                            <div class="accordion-body">
                                <p>
                                    Non augue egestas commodo velit eget vestibulum tellus. Curabitur justo elit at elementum orci pulvinar vel. Pellentesq habitant morbitr. Pellentesque habitant morbi tristique.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionCollapseFive" aria-expanded="false" aria-controls="accordionCollapseFive">
                            Where can I fly on one of your Private Jets?
                        </button>
                        <div id="accordionCollapseFive" class="accordion-collapse collapse" data-bs-parent="#faqAccordion2">
                            <div class="accordion-body">
                                <p>
                                    Non augue egestas commodo velit eget vestibulum tellus. Curabitur justo elit at elementum orci pulvinar vel. Pellentesq habitant morbitr. Pellentesque habitant morbi tristique.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionCollapseSix" aria-expanded="false" aria-controls="accordionCollapseSix">
                            Is there a transfer from the airport to the hotel?
                        </button>
                        <div id="accordionCollapseSix" class="accordion-collapse collapse" data-bs-parent="#faqAccordion2">
                            <div class="accordion-body">
                                <p>
                                    Non augue egestas commodo velit eget vestibulum tellus. Curabitur justo elit at elementum orci pulvinar vel. Pellentesq habitant morbitr. Pellentesque habitant morbi tristique.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End FAQ Area -->
<!-- Start CTA Area -->
<div class="cta-area position-relative z-1 style-2">
    <div class="container">
        <div class="cta-inner-area position-relative z-1 style-2" data-cue="slideInUp">
            <div class="row align-items-center" data-cue="slideInUp">
                <div class="col-lg-6 col-md-12">
                    <div class="cta-content">
                        <h1>Do you want to get estimation?</h1>
                        <p class="mx-auto">Use our hotline for quick get in touch for 24 hours.</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="cta-contact-info d-flex align-items-center">
                        <div class="icon">
                            <i class="ph-fill ph-phone-call"></i>
                        </div>
                        <div class="content">
                            <span class="d-block">CALL ANYTIME</span>
                            <a href="tel:9288006780">+92 ( 8800 ) - 6780</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="background-color-shape">
                <img src="~/assets/images/cta-bg-shape.jpg" alt="shape">
            </div>
        </div>
    </div>
</div>
<!-- End CTA Area -->
<!-- Start Feedback Area -->
<div class="feedback-area style-2 ptb-100 position-relative z-1">
    <div class="section-title text-center mx-auto style-2" data-cue="slideInUp">
        <span class="d-block sub-title fw-bold">
            WHAT OUR CUSTOMERS SAY
        </span>
        <h2>
            What People Say About Our Services?
        </h2>
    </div>
    <div class="container">
        <div class="feedback-slides owl-carousel owl-theme" data-cue="slideInUp">
            <div class="single-feedback-box position-relative z-1 style-2">
                <div class="image">
                    <img src="~/assets/images/customers/customer1.png" alt="customer-image">
                </div>
                <h3>
                    Randall Schwartz
                </h3>
                <span class="d-block">
                    Sr. Consultant
                </span>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipiscing elit ullam facilisis at turpis eu faucibus. In dignissim enim eu ornare aliqu metus ex tempor neque sit amet efficitur turpis.
                </p>
                <div class="info d-lg-flex align-items-center justify-content-between">
                    <div>
                        <h6>
                            Trustpilot
                        </h6>
                        <div class="ratings">
                            <i class="ph-fill ph-star"></i>
                            <i class="ph-fill ph-star"></i>
                            <i class="ph-fill ph-star"></i>
                            <i class="ph-fill ph-star"></i>
                            <i class="ph-fill ph-star"></i>
                        </div>
                    </div>
                    <span class="d-block">
                        5.0 Trustpilot Rating
                    </span>
                </div>
                <div class="quote">
                    <i class="ph-fill ph-quotes"></i>
                </div>
            </div>
            <div class="single-feedback-box position-relative z-1 style-2">
                <div class="image">
                    <img src="~/assets/images/customers/customer2.png" alt="customer-image">
                </div>
                <h3>
                    Andru Smith
                </h3>
                <span class="d-block">
                    Marketing Manager
                </span>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipiscing elit ullam facilisis at turpis eu faucibus. In dignissim enim eu ornare aliqu metus ex tempor neque sit amet efficitur turpis.
                </p>
                <div class="info d-lg-flex align-items-center justify-content-between">
                    <div>
                        <h6>
                            Trustpilot
                        </h6>
                        <div class="ratings">
                            <i class="ph-fill ph-star"></i>
                            <i class="ph-fill ph-star"></i>
                            <i class="ph-fill ph-star"></i>
                            <i class="ph-fill ph-star"></i>
                            <i class="ph-fill ph-star-half"></i>
                        </div>
                    </div>
                    <span class="d-block">
                        4.5 Trustpilot Rating
                    </span>
                </div>
                <div class="quote">
                    <i class="ph-fill ph-quotes"></i>
                </div>
            </div>
            <div class="single-feedback-box position-relative z-1 style-2">
                <div class="image">
                    <img src="~/assets/images/customers/customer2.png" alt="customer-image">
                </div>
                <h3>
                    Andru Smith
                </h3>
                <span class="d-block">
                    Marketing Manager
                </span>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipiscing elit ullam facilisis at turpis eu faucibus. In dignissim enim eu ornare aliqu metus ex tempor neque sit amet efficitur turpis.
                </p>
                <div class="info d-lg-flex align-items-center justify-content-between">
                    <div>
                        <h6>
                            Trustpilot
                        </h6>
                        <div class="ratings">
                            <i class="ph-fill ph-star"></i>
                            <i class="ph-fill ph-star"></i>
                            <i class="ph-fill ph-star"></i>
                            <i class="ph-fill ph-star"></i>
                            <i class="ph-fill ph-star-half"></i>
                        </div>
                    </div>
                    <span class="d-block">
                        4.5 Trustpilot Rating
                    </span>
                </div>
                <div class="quote">
                    <i class="ph-fill ph-quotes"></i>
                </div>
            </div>
            <div class="single-feedback-box position-relative z-1 style-2">
                <div class="image">
                    <img src="~/assets/images/customers/customer2.png" alt="customer-image">
                </div>
                <h3>
                    Andru Smith
                </h3>
                <span class="d-block">
                    Marketing Manager
                </span>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipiscing elit ullam facilisis at turpis eu faucibus. In dignissim enim eu ornare aliqu metus ex tempor neque sit amet efficitur turpis.
                </p>
                <div class="info d-lg-flex align-items-center justify-content-between">
                    <div>
                        <h6>
                            Trustpilot
                        </h6>
                        <div class="ratings">
                            <i class="ph-fill ph-star"></i>
                            <i class="ph-fill ph-star"></i>
                            <i class="ph-fill ph-star"></i>
                            <i class="ph-fill ph-star"></i>
                            <i class="ph-fill ph-star-half"></i>
                        </div>
                    </div>
                    <span class="d-block">
                        4.5 Trustpilot Rating
                    </span>
                </div>
                <div class="quote">
                    <i class="ph-fill ph-quotes"></i>
                </div>
            </div>
            <div class="single-feedback-box position-relative z-1 style-2">
                <div class="image">
                    <img src="~/assets/images/customers/customer2.png" alt="customer-image">
                </div>
                <h3>
                    Andru Smith
                </h3>
                <span class="d-block">
                    Marketing Manager
                </span>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipiscing elit ullam facilisis at turpis eu faucibus. In dignissim enim eu ornare aliqu metus ex tempor neque sit amet efficitur turpis.
                </p>
                <div class="info d-lg-flex align-items-center justify-content-between">
                    <div>
                        <h6>
                            Trustpilot
                        </h6>
                        <div class="ratings">
                            <i class="ph-fill ph-star"></i>
                            <i class="ph-fill ph-star"></i>
                            <i class="ph-fill ph-star"></i>
                            <i class="ph-fill ph-star"></i>
                            <i class="ph-fill ph-star-half"></i>
                        </div>
                    </div>
                    <span class="d-block">
                        4.5 Trustpilot Rating
                    </span>
                </div>
                <div class="quote">
                    <i class="ph-fill ph-quotes"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="line-shape">
        <img src="~/assets/images/customers/customer-shape.png" alt="">
    </div>
</div>
<!-- End Feedback Area -->
<!-- Start Partner Area -->
<div class="partner-area pb-75">
    <div class="container">
        <div class="partner-section-title text-center mx-auto" data-cue="slideInUp">
            <p>We collaborate with 200+ leading Private Jet Charters and companies</p>
        </div>
        <div class="row" data-cue="slideInUp">
            <div class="col-lg-2 col-sm-6">
                <div class="single-partner-info">
                    <div class="image">
                        <img class="image-one" src="assets/images/partners/partner5.svg" alt="icon">
                        <img class="image-two" src="assets/images/partners/partner11.svg" alt="icon">
                    </div>
                    <div class="shape-image">
                        <img src="~/assets/images/partners/partner-card-shape.svg" alt="shape">
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-sm-6">
                <div class="single-partner-info">
                    <div class="image">
                        <img class="image-one" src="assets/images/partners/partner6.svg" alt="icon">
                        <img class="image-two" src="assets/images/partners/partner12.svg" alt="icon">
                    </div>
                    <div class="shape-image">
                        <img src="~/assets/images/partners/partner-card-shape.svg" alt="shape">
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-sm-6">
                <div class="single-partner-info">
                    <div class="image">
                        <img class="image-one" src="assets/images/partners/partner7.svg" alt="icon">
                        <img class="image-two" src="assets/images/partners/partner13.svg" alt="icon">
                    </div>
                    <div class="shape-image">
                        <img src="~/assets/images/partners/partner-card-shape.svg" alt="shape">
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-sm-6">
                <div class="single-partner-info">
                    <div class="image">
                        <img class="image-one" src="assets/images/partners/partner8.svg" alt="icon">
                        <img class="image-two" src="assets/images/partners/partner14.svg" alt="icon">
                    </div>
                    <div class="shape-image">
                        <img src="~/assets/images/partners/partner-card-shape.svg" alt="shape">
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-sm-6">
                <div class="single-partner-info">
                    <div class="image">
                        <img class="image-one" src="assets/images/partners/partner9.svg" alt="icon">
                        <img class="image-two" src="assets/images/partners/partner15.svg" alt="icon">
                    </div>
                    <div class="shape-image">
                        <img src="~/assets/images/partners/partner-card-shape.svg" alt="shape">
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-sm-6">
                <div class="single-partner-info">
                    <div class="image">
                        <img class="image-one" src="assets/images/partners/partner10.svg" alt="icon">
                        <img class="image-two" src="assets/images/partners/partner16.svg" alt="icon">
                    </div>
                    <div class="shape-image">
                        <img src="~/assets/images/partners/partner-card-shape.svg" alt="shape">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Partner Area -->
<!-- Start Blog Area -->

<!-- End Blog Area -->
