<style>
    .page-title-area {
        background-image: url('/assets/images/userlogin.jpg');
    }

        .page-title-area h1 {
            color: black;
        }

        .page-title-area h6 {
            color: black;
        }
</style> <!-- Start Page Title Area -->
<div class="page-title-area position-relative z-1">
    <div class="container">
        <div class="page-title-content text-center">
            <h1>Our Team</h1>
            <h6 class="mx-auto">Welcome to Our World, Where Innovation Meets Purpose, and Possibilities Unfold.</h6>
        </div>
    </div>
</div>
<!-- End Page Title Area -->
<!-- Start Team Area -->
<div class="team-area pt-100 pb-75">
    <div class="container">
        <div class="section-title text-center mx-auto">
            <span class="d-block sub-title fw-bold">Our Aircraft Crew</span>
            <h2>Meet the Professional Our Private Jet Crew</h2>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="single-team-card position-relative z-1">
                    <div class="image">
                        <img src="~/assets/images/team/team1.jpg" alt="team-image">
                    </div>
                    <div class="content d-flex align-items-center">
                        <div class="icon">
                            <i class="ph-bold ph-plus"></i>
                        </div>
                        <div class="text">
                            <h3>
                                <a href="team.html">
                                    Jessica Brown
                                </a>
                            </h3>
                            <span>Senior Pilot</span>
                        </div>
                    </div>
                    <div class="bg-shape-1">
                        <img src="~/assets/images/team/team-shape1.png" alt="shape">
                    </div>
                    <div class="bg-shape-2">
                        <img src="~/assets/images/team/team-shape2.png" alt="shape">
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="single-team-card position-relative z-1">
                    <div class="image">
                        <img src="~/assets/images/team/team2.jpg" alt="team-image">
                    </div>
                    <div class="content d-flex align-items-center">
                        <div class="icon">
                            <i class="ph-bold ph-plus"></i>
                        </div>
                        <div class="text">
                            <h3>
                                <a href="team.html">
                                    Jessica Brown
                                </a>
                            </h3>
                            <span>Senior Pilot</span>
                        </div>
                    </div>
                    <div class="bg-shape-1">
                        <img src="~/assets/images/team/team-shape1.png" alt="shape">
                    </div>
                    <div class="bg-shape-2">
                        <img src="~/assets/images/team/team-shape2.png" alt="shape">
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="single-team-card position-relative z-1">
                    <div class="image">
                        <img src="~/assets/images/team/team3.jpg" alt="team-image">
                    </div>
                    <div class="content d-flex align-items-center">
                        <div class="icon">
                            <i class="ph-bold ph-plus"></i>
                        </div>
                        <div class="text">
                            <h3>
                                <a href="team.html">
                                    Jessica Brown
                                </a>
                            </h3>
                            <span>Senior Pilot</span>
                        </div>
                    </div>
                    <div class="bg-shape-1">
                        <img src="~/assets/images/team/team-shape1.png" alt="shape">
                    </div>
                    <div class="bg-shape-2">
                        <img src="~/assets/images/team/team-shape2.png" alt="shape">
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="single-team-card position-relative z-1">
                    <div class="image">
                        <img src="~/assets/images/team/team4.jpg" alt="team-image">
                    </div>
                    <div class="content d-flex align-items-center">
                        <div class="icon">
                            <i class="ph-bold ph-plus"></i>
                        </div>
                        <div class="text">
                            <h3>
                                <a href="team.html">
                                    Jessica Brown
                                </a>
                            </h3>
                            <span>Senior Pilot</span>
                        </div>
                    </div>
                    <div class="bg-shape-1">
                        <img src="assets/images/team/team-shape1.png" alt="shape">
                    </div>
                    <div class="bg-shape-2">
                        <img src="assets/images/team/team-shape2.png" alt="shape">
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="single-team-card position-relative z-1">
                    <div class="image">
                        <img src="~/assets/images/team/team5.jpg" alt="team-image">
                    </div>
                    <div class="content d-flex align-items-center">
                        <div class="icon">
                            <i class="ph-bold ph-plus"></i>
                        </div>
                        <div class="text">
                            <h3>
                                <a href="team.html">
                                    Jessica Brown
                                </a>
                            </h3>
                            <span>Senior Pilot</span>
                        </div>
                    </div>
                    <div class="bg-shape-1">
                        <img src="assets/images/team/team-shape1.png" alt="shape">
                    </div>
                    <div class="bg-shape-2">
                        <img src="assets/images/team/team-shape2.png" alt="shape">
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="single-team-card position-relative z-1">
                    <div class="image">
                        <img src="~/assets/images/team/team6.jpg" alt="team-image">
                    </div>
                    <div class="content d-flex align-items-center">
                        <div class="icon">
                            <i class="ph-bold ph-plus"></i>
                        </div>
                        <div class="text">
                            <h3>
                                <a href="team.html">
                                    Jessica Brown
                                </a>
                            </h3>
                            <span>Senior Pilot</span>
                        </div>
                    </div>
                    <div class="bg-shape-1">
                        <img src="~/assets/images/team/team-shape1.png" alt="shape">
                    </div>
                    <div class="bg-shape-2">
                        <img src="~/assets/images/team/team-shape2.png" alt="shape">
                    </div>
                </div>
            </div>
        </div>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a class="page-link" href="team.html"><i class="ph-bold ph-caret-left"></i></a>
                </li>
                <li class="page-item"><a class="page-link active" href="team.html">01</a></li>
                <li class="page-item"><a class="page-link" href="team.html">02</a></li>
                <li class="page-item"><a class="page-link" href="team.html">03</a></li>
                <li class="page-item">
                    <a class="page-link" href="team.html"><i class="ph-bold ph-caret-right"></i></a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<!-- End Team Area -->