<style>
    .page-title-area {
        background-image: url('/assets/images/userlogin.jpg');
    }

        .page-title-area h1 {
            color: black;
        }

        .page-title-area h6 {
            color: black;
        }
</style> <!-- Start Page Title Area -->
<div class="page-title-area position-relative z-1">
    <div class="container">
        <div class="page-title-content text-center">
            <h1>Testimonial</h1>
            <h6 class="mx-auto">Welcome to Our World, Where Innovation Meets Purpose, and Possibilities Unfold.</h6>
        </div>
    </div>
</div>
<!-- End Page Title Area -->
<!-- Start Testimonial Area -->
<div class="testimonial-area pt-100 pb-75">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="single-testimonial-info text-center position-relative z-1">
                    <div class="icon">
                        <img src="~/assets/images/quote-icon.svg" alt="icon">
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit ullam facilisis at turpiseu faucibus. In dignissim enim eu ornare aliqu metus ex tempor neque sit</p>
                    <h3>Randall Schwartz</h3>
                    <span>Sr. Consultant</span>
                    <ul class="list-unstyled ps-0 star">
                        <li class="d-inline-block">
                            <i class="ph-fill ph-star"></i>
                        </li>
                        <li class="d-inline-block">
                            <i class="ph-fill ph-star"></i>
                        </li>
                        <li class="d-inline-block">
                            <i class="ph-fill ph-star"></i>
                        </li>
                        <li class="d-inline-block">
                            <i class="ph-fill ph-star"></i>
                        </li>
                        <li class="d-inline-block">
                            <i class="ph-fill ph-star"></i>
                        </li>
                    </ul>
                    <div class="user">
                        <img src="~/assets/images/testimonial/testimonial1.jpg" alt="testimonial-image">
                    </div>
                    <div class="bg-shape">
                        <img src="~/assets/images/testimonial/testimonial-bg-shape.png" alt="shape">
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="single-testimonial-info text-center position-relative z-1">
                    <div class="icon">
                        <img src="~/assets/images/quote-icon.svg" alt="icon">
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit ullam facilisis at turpiseu faucibus. In dignissim enim eu ornare aliqu metus ex tempor neque sit</p>
                    <h3>Mauser Daniel</h3>
                    <span>Sr. Consultant</span>
                    <ul class="list-unstyled ps-0 star">
                        <li class="d-inline-block">
                            <i class="ph-fill ph-star"></i>
                        </li>
                        <li class="d-inline-block">
                            <i class="ph-fill ph-star"></i>
                        </li>
                        <li class="d-inline-block">
                            <i class="ph-fill ph-star"></i>
                        </li>
                        <li class="d-inline-block">
                            <i class="ph-fill ph-star"></i>
                        </li>
                        <li class="d-inline-block">
                            <i class="ph-fill ph-star"></i>
                        </li>
                    </ul>
                    <div class="user">
                        <img src="~/assets/images/testimonial/testimonial2.jpg" alt="testimonial-image">
                    </div>
                    <div class="bg-shape">
                        <img src="~/assets/images/testimonial/testimonial-bg-shape.png" alt="shape">
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="single-testimonial-info text-center position-relative z-1">
                    <div class="icon">
                        <img src="~/assets/images/quote-icon.svg" alt="icon">
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit ullam facilisis at turpiseu faucibus. In dignissim enim eu ornare aliqu metus ex tempor neque sit</p>
                    <h3>Milano Digits</h3>
                    <span>Sr. Consultant</span>
                    <ul class="list-unstyled ps-0 star">
                        <li class="d-inline-block">
                            <i class="ph-fill ph-star"></i>
                        </li>
                        <li class="d-inline-block">
                            <i class="ph-fill ph-star"></i>
                        </li>
                        <li class="d-inline-block">
                            <i class="ph-fill ph-star"></i>
                        </li>
                        <li class="d-inline-block">
                            <i class="ph-fill ph-star"></i>
                        </li>
                        <li class="d-inline-block">
                            <i class="ph-fill ph-star"></i>
                        </li>
                    </ul>
                    <div class="user">
                        <img src="~/assets/images/testimonial/testimonial3.jpg" alt="testimonial-image">
                    </div>
                    <div class="bg-shape">
                        <img src="~/assets/images/testimonial/testimonial-bg-shape.png" alt="shape">
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="single-testimonial-info text-center position-relative z-1">
                    <div class="icon">
                        <img src="~/assets/images/quote-icon.svg" alt="icon">
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit ullam facilisis at turpiseu faucibus. In dignissim enim eu ornare aliqu metus ex tempor neque sit</p>
                    <h3>Mike Hardson</h3>
                    <span>Sr. Consultant</span>
                    <ul class="list-unstyled ps-0 star">
                        <li class="d-inline-block">
                            <i class="ph-fill ph-star"></i>
                        </li>
                        <li class="d-inline-block">
                            <i class="ph-fill ph-star"></i>
                        </li>
                        <li class="d-inline-block">
                            <i class="ph-fill ph-star"></i>
                        </li>
                        <li class="d-inline-block">
                            <i class="ph-fill ph-star"></i>
                        </li>
                        <li class="d-inline-block">
                            <i class="ph-fill ph-star"></i>
                        </li>
                    </ul>
                    <div class="user">
                        <img src="~/assets/images/testimonial/testimonial4.jpg" alt="testimonial-image">
                    </div>
                    <div class="bg-shape">
                        <img src="~/assets/images/testimonial/testimonial-bg-shape.png" alt="shape">
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="single-testimonial-info text-center position-relative z-1">
                    <div class="icon">
                        <img src="~/assets/images/quote-icon.svg" alt="icon">
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit ullam facilisis at turpiseu faucibus. In dignissim enim eu ornare aliqu metus ex tempor neque sit</p>
                    <h3>Monia Zillan</h3>
                    <span>Sr. Consultant</span>
                    <ul class="list-unstyled ps-0 star">
                        <li class="d-inline-block">
                            <i class="ph-fill ph-star"></i>
                        </li>
                        <li class="d-inline-block">
                            <i class="ph-fill ph-star"></i>
                        </li>
                        <li class="d-inline-block">
                            <i class="ph-fill ph-star"></i>
                        </li>
                        <li class="d-inline-block">
                            <i class="ph-fill ph-star"></i>
                        </li>
                        <li class="d-inline-block">
                            <i class="ph-fill ph-star"></i>
                        </li>
                    </ul>
                    <div class="user">
                        <img src="~/assets/images/testimonial/testimonial5.jpg" alt="testimonial-image">
                    </div>
                    <div class="bg-shape">
                        <img src="~/assets/images/testimonial/testimonial-bg-shape.png" alt="shape">
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="single-testimonial-info text-center position-relative z-1">
                    <div class="icon">
                        <img src="~/assets/images/quote-icon.svg" alt="icon">
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit ullam facilisis at turpiseu faucibus. In dignissim enim eu ornare aliqu metus ex tempor neque sit</p>
                    <h3>Ambert Daniel</h3>
                    <span>Sr. Consultant</span>
                    <ul class="list-unstyled ps-0 star">
                        <li class="d-inline-block">
                            <i class="ph-fill ph-star"></i>
                        </li>
                        <li class="d-inline-block">
                            <i class="ph-fill ph-star"></i>
                        </li>
                        <li class="d-inline-block">
                            <i class="ph-fill ph-star"></i>
                        </li>
                        <li class="d-inline-block">
                            <i class="ph-fill ph-star"></i>
                        </li>
                        <li class="d-inline-block">
                            <i class="ph-fill ph-star"></i>
                        </li>
                    </ul>
                    <div class="user">
                        <img src="~/assets/images/testimonial/testimonial6.jpg" alt="testimonial-image">
                    </div>
                    <div class="bg-shape">
                        <img src="~/assets/images/testimonial/testimonial-bg-shape.png" alt="shape">
                    </div>
                </div>
            </div>
        </div>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a class="page-link" href="testimonial.html"><i class="ph-bold ph-caret-left"></i></a>
                </li>
                <li class="page-item"><a class="page-link active" href="testimonial.html">01</a></li>
                <li class="page-item"><a class="page-link" href="testimonial.html">02</a></li>
                <li class="page-item"><a class="page-link" href="testimonial.html">03</a></li>
                <li class="page-item">
                    <a class="page-link" href="testimonial.html"><i class="ph-bold ph-caret-right"></i></a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<!-- End Testimonial Area -->